.id-temperature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #dee3ed;
    padding: 20px;
    width: 100%;
    margin: 10px;
}

.id-temperature-title {
    text-transform: uppercase;
    color: black;
}

.id-temperature-value {
    text-transform: capitalize;
    color: gray;
}